.name-highlight{

color: rgb(243, 12, 166);

}
body{

    font-family: 'Poppins', sans-serif;

}
.half-width{

    width: 37%;
    float: left;
     margin: 3%; 
    padding: 2%; 
    
    
    }
    h1{
        size: 70px;
    }
    .link-button{

        text-decoration: none;
        background-image: linear-gradient(45deg,rgba(238, 9, 150, 0.96),tomato);
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        font-weight: 700;
        }
        .half-width img{

            width: 80%;
            /* margin-top: 10%;
            margin-bottom: 5%; */
        }
        .first-banner{

            background-image: url("images/header-bg.png");
            background-repeat: no-repeat;
            }
            section{
            height: 500px;
            padding-bottom: 150px;
            }
            .second-banner{

                background-image: url("images/biography-bg.png");
                background-repeat: no-repeat;
                }
                .third-banner{

                    background-image: url("images/latest-work-bg.png");
                    background-repeat: no-repeat;
                }
                .heading{
                    text-align: center;
                }
                .one-third-width{
                    width: 28%;
                    float: left;
                     margin-left: 4%;
                  

                }
                .one-third-width img{

                    width: 100%;
                   
                }
                .fourth-banner{

                    background-image: url("images/footer-bg.png");
                    background-repeat: no-repeat;

                }
                .cliant-name{
                
                    margin-top:5px;
                    text-align: center;


                }
                .cliant-address{

                    text-align: center;
                    color: grey;
                    margin-top: 0;

                }
                .review{

                    text-align: center;
                    color: rgb(53, 31, 31);
                    font-family: italic;
                    margin-top: 2px;
                }
                .email-me{
             
                    box-shadow: 10px;
                    height: 55%;
                    border-radius:10px;
                    /* background-color: rgb(248, 11, 114); */
                    background-image:linear-gradient( 45deg, rgb(255, 8, 255),orange) ;
                    margin-left: 10%;
                    margin-right: 10%;
                    margin-top: 5%;
                    }  
                    .email-heading{

                       text-align: center;
                       color: lavender;
                       font-weight: 400;
                      
                       padding-top:5%;
                        
                    }  
                    .email-name{

                        text-align: center;
                        color: lavender;
                      
                       
                        padding-top:2%;
                         
                     }      
                     footer{
                         text-align: center;
                     }             
